body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100dvw;
	min-height: 100dvh;
	background: linear-gradient(
		100deg,
		hsl(214, 47%, 23%) 10%,
		hsl(237, 49%, 15%) 100%
	);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

/* navbar settings */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40rem;
	border: 1px solid hsl(217, 16%, 45%);
	padding-inline: 2rem;
	border-radius: 1rem;
	justify-self: start;
	position: fixed;
	top: 50px;
}

.title {
	font-size: 28px;
	color: hsl(0, 0%, 100%);
}
.score {
	background: #fff;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 0.8rem;
	color: hsl(229, 64%, 46%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.score-counter {
	color: hsl(229, 25%, 31%);
	font-size: 60px;
}

/* main settings */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.choices {
	position: relative;
	width: 300px;
	height: 300px;
}

.circle {
	position: absolute;
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.circle img {
	width: 50%;
	height: 50%;
}

.paper {
	top: 0px;
	left: -100px;
	border: 20px solid #00f; /* Blue border */
}

.scissors {
	top: 0px;
	right: -100px;
	border: 20px solid #ffa500; /* Orange border */
}

.rock {
	bottom: -100px;
	left: 50px;
	border: 20px solid #f00; /* Red border */
}

.triangle {
	position: absolute;
	top: 75px;
	left: -10px;
	width: 400px;
	height: 400px;
	z-index: -10;
}

.pickedCircleWrapper{
	background: hsl(0, 0%, 0%, 10%);
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.pickedCircle {
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.pickedCircle img {
	width: 50%;
	height: 50%;
}

.choiceResults {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	width: 70%;
}

#playerChoice,
#computerChoice,
.result {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.playAgainBtn {
	padding-inline: 40px;
	padding-block: 10px;
	background-color: white;
	color: hsl(229, 25%, 31%);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.playAgainBtn:hover{
	color: red;
}

.hidden {
	display: none;
}
